{% extends 'global/base_supuser.html' %}
{% block title %} {{ setting.appname }} | Edition d'une année académique {% endblock %}
{% block content %}
{% load static %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Années académiques</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'annee_academiques' %}" >Années académiques</a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edition d'une année académique</h5>
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formUpdateAnneeAcademique" class="row g-3">
                {% csrf_token %}
                <input type="text" name="id" value="{{ anneeacademique.id }}" hidden>
                <div class="col-12">
                  <label for="etablissement" class="form-label">Etablissement : </label>
                  <select name="etablissement" id="etablissement" class="form-select" aria-label="Default select example">
                      {% if anneeacademique.etablissement %}
                      <option value="{{ anneeacademique.etablissement.id }}">{{ anneeacademique.etablissement }}</option>
                      {% else %}
                      <option value=""></option>
                      {% endif %}
                      {% for etablissement in etablissements %}
                      <option value="{{ etablissement.id }}">{{ etablissement }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-12">
                  <label for="Annee_debut" class="form-label">Année début : </label>
                  <input type="number" name="annee_debut" value="{{ anneeacademique.annee_debut }}" class="form-control" id="Annee_debut" required>
                </div>
                <div class="col-12">
                  <label for="Annee_fin" class="form-label">Annee fin : </label>
                  <input type="number" name="annee_fin" value="{{ anneeacademique.annee_fin }}" class="form-control" id="Annee_fin" required>
                </div>
                <div class="col-12">
                  <label for="Separateur" class="form-label">Séparateur : </label>
                  <select name = "separateur" id="Separateur" class="form-select" aria-label="Default select example" required>
                      {% if anneeacademique.separateur == "-"%}
                      <option value="-">-</option>
                      <option value="/">/</option>
                      {% else %}
                      <option value="/">/</option>
                      <option value="-">-</option>
                      {% endif %}
                  </select>
                </div>
                <div class="col-12">
                  <label for="start_date" class="form-label">Date du début : </label>
                  <input type="date" name="start_date" value="{{ anneeacademique.start_date|date:"Y-m-d" }}" class="form-control" id="start_date" required>
                </div>
                <div class="col-12">
                  <label for="end_date" class="form-label">Date de fin : </label>
                  <input type="date" name="end_date" value="{{ anneeacademique.end_date|date:"Y-m-d" }}" class="form-control" id="end_date" required>
                </div>
                <div class="text-center">
                  <a href ="{% url 'annee_academiques' %}" type="reset" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Modifier </button>
                </div>
              </form><!-- Vertical Form -->

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}