{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Edition d'une inscription {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Inscriptions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'inscriptions' %}" > Inscriptions </a></li>
          <li class="breadcrumb-item"><a href="{% url 'detail_inscription' inscription.salle.id|crypter_id %}" > Détails </a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edition d'une inscription</h5>
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formUpdateInscription" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                    <input type="text" name="id" value="{{ inscription.id }}" hidden="True" required="True">
                    <label for="Student" class="form-label">Elève : </label>
                    <select name="student" id="Student" class="form-select" aria-label="Default select example" required>
                        <option value="{{ inscription.student.id }}">{{ inscription.student }}</option>
                        {% for student in students %}
                        <option value="{{ student.id }}">{{ student }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <label for="Salle" class="form-label">Salle : </label>
                    <select name="salle" id="Salle" class="form-select" aria-label="Default select example">
                        <option value="{{ inscription.salle.id }}">{{ inscription.salle }}</option>
                        {% for salle in salles %}
                        <option value="{{ salle.id }}">{{ salle }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="amountview">
                  <div class="col-12">
                      <label for="Amount" class="form-label">Frais ({{ setting.devise }}): </label>
                      <input type="text" name="amount" value="{{ inscription.amount }}" class="form-control" id="Amount" readonly required>
                  </div>
                </div>
                <div class="col-12">
                  <label for="mode_paiement" class="form-label">Mode de paiement : </label>
                  <select name="mode_paiement" id="mode_paiement" class="form-select" aria-label="Default select example">
                      <option value="{{ inscription.mode_paiement }}">{{ inscription.mode_paiement }}</option>
                      {% for mode_paiement in mode_paiements %}
                      <option value="{{ mode_paiement }}">{{ mode_paiement }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="col-12">
                  <label for="Photo" class="form-label">Photo : </label>
                  <input type="file" name="photo" class="form-control" id="Photo">
                  {% if inscription.photo %}
                    <span><img  width="100px" height="100px" src="{{ inscription.photo.url }}" alt="..." /></span>
                  {% endif %}
                </div>
                <div class="text-center">
                  <a href="{% url 'detail_inscription' inscription.salle.id|crypter_id %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                </div>
              </form><!-- Vertical Form -->

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}