{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Cours en ligne {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des études</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item active">Salles-Cours</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mes cours en lignes </h5>
                    <div align="right">
                      {% if setting.theme == "bg-default" %}
                      <a href="{% url 'add_cours' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Mettre un cours en ligne</a>
                      {% else %}
                      <a href="{% url 'add_cours' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Mettre un cours en ligne</a>
                      {% endif %}
                    </div>
                    <br>
                    <div class="row">
                    {% for c in cours %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ c.salle }}</h5>
                                
                                <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title text-center">Matières</h5>
                                        {% for m in c.matieres %}
                                          <div class="card">
                                            <div class="card-body">
                                              {% if m.nb_cours > 1 %}
                                              <p class="card-title">{{ m.matiere }} |<span> {{ m.nb_cours }} cours en ligne</span></p>
                                              {% else %}
                                              <p class="card-title">{{ m.matiere }} | <span>{{ m.nb_cours }} cours en ligne</span></p>
                                              {% endif %}
                                              {% if m.nb_newcomment == 0 %}
                                              <p><span class="badge rounded-pill bg-secondary">{{ m.nb_newcomment }}</span> commentaire élève</p>
                                              {% elif m.nb_newcomment == 1 %}
                                              <p class="text-success"><span class="badge rounded-pill bg-success">{{ m.nb_newcomment }}</span> commentaire élève</p>
                                              {% else %}
                                              <p class="text-success"><span class="badge rounded-pill bg-success">{{ m.nb_newcomment }}</span> commentaires élèves</p>
                                              {% endif %}
                                              <a href="{% url 'detail_coursligne' c.salle.id|crypter_id m.matiere.id|crypter_id %}" class="btn btn-secondary btn-sm">Voir plus</a>
                                            </div>
                                          </div>
                                        {% endfor %}
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}