{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Ajout d'un cours {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion</h1>
      <nav>
        <ol class="breadcrumb"><li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'cours' %}" > Cours </a></li>
          <li class="breadcrumb-item"><a href="{% url 'detail_coursligne' cours.salle.id|crypter_id cours.matiere.id|crypter_id %}" > détails </a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edition d'un cours en ligne</h5>
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formUpdateCours" class="row g-3">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="id" id="id" value="{{ cours.id }}" hidden="True" required="True">
                    <div class="col-12 margin-bottom">
                        <label for="salle_ens" class="form-label">Salle : </label>
                        <select name="salle" id="salle_ens" class="form-select" aria-label="Default select example" required>
                            <option value="{{ cours.salle.id }}">{{ cours.salle }}</option>
                            {% for salle in salles %}
                            <option value="{{ salle.id }}">{{ salle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="matiereview">
                        <div class="col-12 margin-bottom">
                            <label for="matiere" class="form-label">Matiere : </label>
                            <select name="matiere" id="matiere" class="form-select" aria-label="Default select example" required>
                                <option value="{{ cours.matiere.id }}">{{ cours.matiere }}</option>
                                {% for matiere in matieres %}
                                <option value="{{ matiere.id }}">{{ matiere }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 margin-bottom">
                      <label for="title" class="form-label">Titre : </label>
                      <input type="text" name="title" value="{{ cours.title }}" class="form-control" id="Note" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-12 margin-bottom">
                        <label for="comment" class="form-label">Commentaire : </label>
                        <textarea class="form-control" name="comment" id="comment" style="height: 120px;" required>{{ cours.comment }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">Fichier *</label>
                        <input type="file" name="file" id="file" class="form-control">
                        <p>Actuellement : {{ cours.file }}</p>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'detail_coursligne' cours.salle.id|crypter_id cours.matiere.id|crypter_id %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Publier le cours </button>
                </div>
              </form><!-- Vertical Form -->

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}