<!DOCTYPE html>
{% load static %}
{% load crypto_filters %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ setting.appname }} | Accueil </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {% if setting and setting.logo %}
  <link href="{{ setting.logo.url }}" rel="icon">
  {% endif %}

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css" rel="stylesheet' %}">

  <style>
    .height_min_max_card{
      min-height: 110px; /* Hauteur minimale */
      max-height: 120px; /* Hauteur maximale */
    }
    .font-size{
      font-size:40px;
    }
    .decoration{
      text-decoration:none;
    }
  </style>
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main class="{{ setting.theme }}">
    
    <div class="container">
      <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center" style="font-family:Viner Hand ITC">Bienvenue <b>{{ user.first_name|title }} {{ user.last_name|title }}</b></h4>
              <br>
              <h3 class="text-center text-primary">Complexe scolaire <b>{{ setting.appname }}</b></h3>
              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                  {% if setting %}
                    {% if setting.logo %}
                    <img src="{{ setting.logo.url }}" width="{{ setting.width_logo }}" height="{{ setting.height_logo }}" style="border-radius:100px" alt="Logo">
                    {% else %}
                    <span class="d-none d-lg-block">{{ parametre.appname }}</span>
                    {% endif %}
                  {% endif %}
                </a>
              </div><!-- End Logo -->

              <div id="content-index">

                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    {% if request.session.group_name == "Promoteur" or request.session.group_name == "Directeur Général" or request.session.group_name == "Directeur des Etudes" or request.session.group_name == "Gestionnaire" %}
                    <div class="row justify-content-center">
                      {% for c in cycles %}
                        {% if c.nombre_classes %}
                        <div class="col-lg-4" style="margin-bottom: 10px">
                          <!-- Default Card -->
                          <div class="card">
                            <div class="card-body height_min_max_card {{ setting.theme }}">
                              <a href="{% url 'settings/db_classe' c.cycle.id|crypter_id %}" class="decoration {{ setting.text_color}}">
                                <h5 class="card-title text-center">{{ c.cycle }}</h5>
                                <p class="text-center"><span class="font-size"><i class="bi bi-house"></i></span></p>
                              </a>
                            </div>
                          </div><!-- End Default Card -->
                        </div>
                        {% else %}
                        <div class="col-lg-4" style="margin-bottom: 10px">
                          <!-- Default Card -->
                          <div class="card">
                            <div class="card-body height_min_max_card {{ setting.theme }}">
                              <a href="#"  data-bs-toggle="modal" data-bs-target="#infoModal{{ c.cycle.id }}" class="decoration {{ setting.text_color}}">
                                <h5 class="card-title text-center">{{ c.cycle }}</h5>
                                <p class="text-center"><span class="font-size"><i class="bi bi-house"></i></span></p>
                              </a>
                              <!-- Start Modal -->
                              <div class="modal fade" id="infoModal{{ c.cycle.id }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-sm">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">{{ c.cycle }}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <p class="text-center">Aucune classe n'a été enregistrée</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                    </div>
                                  </div>
                                </div>
                              </div><!-- Fin Modal-->
                            </div>
                          </div><!-- End Default Card -->
                        </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                    <br>
                    <div class="row justify-content-center">
                      {% if request.session.group_name == "Super user" and request.session.etablissement_id and request.session.annee_id  %}
                      <div class="col-lg-4" style="margin-bottom: 10px">
                        <!-- Default Card -->
                        <div class="card">
                          <div class="card-body height_min_max_card {{ setting.theme }}">
                            <a href="{% url 'index' %}" class="decoration bg-secondary">
                              <h5 class="card-title text-center">Accueil</h5>
                              <p class="text-center font-size"><i class="bi bi-arrow-left"></i></p>
                            </a>
                          </div>
                        </div><!-- End Default Card -->
                      </div>
                      {% endif %}
                      {% if request.session.group_name == "Promoteur" or request.session.group_name == "Directeur Général" %}
                      <div class="col-lg-4" style="margin-bottom: 10px">
                        <!-- Default Card -->
                        <div class="card">
                          <div class="card-body height_min_max_card {{ setting.theme }}">
                            <a href="{% url 'settings/db' %}" class="decoration {{ setting.text_color }}">
                              <h5 class="card-title text-center">Tableau de bord</h5>
                              <p class="text-center font-size"><i class="bi bi-grid"></i></p>
                            </a>
                          </div>
                        </div><!-- End Default Card -->
                      </div>
                      {% endif %}
                      {% if request.session.group_name == "Surveillant Général" or request.session.group_name == "Enseignant" %}
                      <div class="col-lg-4" style="margin-bottom: 10px">
                        <!-- Default Card -->
                        <div class="card">
                          <div class="card-body height_min_max_card {{ setting.theme }}">
                            <a href="{% url 'settings/db' %}" class="decoration {{ setting.text_color }}">
                              <h5 class="card-title text-center">Tableau de bord</h5>
                              <p class="text-center font-size"><i class="bi bi-grid"></i></p>
                            </a>
                          </div>
                        </div><!-- End Default Card -->
                      </div>
                      {% endif %}
                      <div class="col-lg-4" style="margin-bottom: 10px">
                        <!-- Default Card -->
                        <div class="card">
                          <div class="card-body height_min_max_card bg-warning">
                            <a href="#"  data-bs-toggle="modal" data-bs-target="#deconnecterModal" title="Supprimer" style="text-decoration:none">
                            <h5 class="card-title text-center text-danger"> Se déconnecter</h5>
                            <p class="text-center font-size"><i class="bi bi-box-arrow-right"></i></p>
                            </a>
                            <!-- Start Modal -->
                            <div class="modal fade" id="deconnecterModal" tabindex="-1">
                              <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Déconnection</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p class="text-center">Voulez-vous vraiment quitter l'application ?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm"><i class="bi bi-box-arrow-right"></i> Se deconnecter</a>
                                  </div>
                                </div>
                              </div>
                            </div><!-- Fin Modal-->
                          </div>
                        </div><!-- End Default Card -->
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <div class="text-center">
                              <form method="post" class="row g-3">
                                  {% csrf_token %}
                                  
                                  <div class="col-12">
                                    <select name="group_name" id="group_name" class="form-select" aria-label="Default select example">
                                        <option id="{{ group_name }}">{{ group_name }}</option>
                                        {% for group in groups %}
                                        <option value="{{ group.name }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>

                                  <div class="col-12">
                                      <select name="anneeacademique" id="anneeacademique" class="form-select" aria-label="Default select example">
                                          <option id="{{ anneeacademique.id }}">{{ anneeacademique.annee_debut }} {{ anneeacademique.separateur }} {{ anneeacademique.annee_fin }}</option>
                                          {% for anneeacademique in anneeacademiques %}
                                          <option value="{{ anneeacademique.id }}">{{ anneeacademique.annee_debut }} {{ anneeacademique.separateur }} {{ anneeacademique.annee_fin }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4"></div>
                    </div>

                  </div>
                  <div class="col-md-2"></div>
                </div>

              </div>
          
            </div>
          </div>
        </div>
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){
        var url = "http://127.0.0.1:8000/school/"

        $(document).on('change','#anneeacademique',function(){ 

            var id = $(this).val();
            if(id){
              $.get(url+"ajaxyear/"+id,
              {id:id},
                function(data){
                  $('#content-index').html(data);
                }
              );
            }
        });

        $(document).on('change','#group_name',function(){    
          var group_name = $(this).val();
          if(group_name){
            $.get(url+"ajax_group_name/"+group_name,
            {},
              function(data){
                $('#content-index').html(data);
              }
            );
          }
      });

    });
</script>
</body>

</html>