{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Détails des absences {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Absences</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'absences' %}">Enseignants</a></li>
          <li class="breadcrumb-item"><a href="{% url 'detail_salle_absence' enseignant.id|crypter_id %}">Salles</a></li>
          <li class="breadcrumb-item active">Détails</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des absences</h5>
                <div class="row">
                  <div class="col-md-8">
                    <div class="table-responsive {{ setting.theme }} {{ setting.text_color }}"  style="padding:10px; border-radius:10px">
                      <table class="table">
                        <tr>
                          <th>Enseignant</th>
                          <td> : {{ enseignant.last_name }} {{ enseignant.first_name }}</td>
                        </tr>
                        <tr>
                          <th>Salle</th>
                          <td> : {{salle }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <br>
                {% if messages %}
                  {% for message in messages %}
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                {% if salle.cycle.libelle == "Collège" or salle.cycle.libelle == "Lycée" %}
                                <th>Matière</th>
                                {% endif %}
                                <th>Horaire</th>
                                <th>Jour</th>
                                <th>Motif</th>
                                <th class="whie-space">Date absence</th>
                                <th class="white-space">Date enregistrement</th>
                                <th>Décision</th>
                                {% if anneeacademique.status_cloture %}
                                <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in absences %}
                            <tr>
                                <td>{{ a.absence.id }}</td>
                                {% if salle.cycle.libelle == "Collège" or salle.cycle.libelle == "Lycée" %}
                                <td class="white-space">{{ a.absence.matiere }}</td>
                                {% endif %}
                                <td class="white-space">{{ a.absence.heure_debut }}-{{ a.absence.heure_fin }}</td>
                                <td>{{ a.absence.jour }}</td>
                                <td>{{ a.absence.motif }}</td>
                                <td class="white-space">{{ a.absence.date_absence|date:"d/m/Y" }}</td>
                                <td class="white-space">{{ a.absence.date_enregistrement|date:"d/m/Y h:m:s" }}</td>
                                <td>
                                  {% if a.absence.status_decision == 0 %}
                                    {% if a.status_paye == False %}
                                      <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ a.absence.id }}" title="Détail"><span id="status-decision{{ a.absence.id }}"><span class="badge rounded-pill bg-warning">En attente</span></span></a>
                                      <!-- Start de delete Modal -->
                                      <div class="modal fade" id="deleteModal{{ a.absence.id }}" tabindex="-1">
                                          <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                              <div class="modal-header bg-warning">
                                                <h5 class="modal-title">Décision</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="card">
                                                  <div class="card-body">
                                                    <h3 class="card-title"><b>Motif : </b>{{ a.absence.motif }}</h3>
                                                    <p class="content-status-decision{{ a.absence.id }}">
                                                      <a href="#" data-id="{{ a.absence.id }}" data-status="1" data-enseignant="{{ a.absence.enseignant.id|crypter_id }}" class="btn btn-success btn-sm decision-absence-enseignant">Redevable</a>
                                                      <a href="#" data-id="{{ a.absence.id }}" data-status="2" data-enseignant="{{ a.absence.enseignant.id|crypter_id }}" class="btn btn-danger btn-sm decision-absence-enseignant">Non redevable</a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div><!-- Fin de delete Modal-->
                                    {% else %}
                                      <span class="badge rounded-pill bg-warning">En attente</span>
                                    {% endif %}
                                  {% elif a.absence.status_decision == 1 %}
                                    {% if a.status_paye == False %}
                                      <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ a.absence.id }}" title="Détail"><span id="status-decision{{ a.absence.id }}"><span class="badge rounded-pill bg-success"> Recevable </span></span></a>
                                      <!-- Start de delete Modal -->
                                      <div class="modal fade" id="deleteModal{{ a.absence.id }}" tabindex="-1">
                                          <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                              <div class="modal-header bg-warning">
                                                <h5 class="modal-title">Décision</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="card">
                                                  <div class="card-body">
                                                    <h3 class="card-title"><b>Motif : </b>{{ a.absence.motif }}</h3>
                                                    <p class="content-status-decision{{ a.absence.id }}">
                                                      <a href="#" data-id="{{ a.absence.id }}" data-status="2" data-enseignant="{{ a.absence.enseignant.id|crypter_id }}" class="btn btn-danger btn-sm decision-absence-enseignant">Non redevable</a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div><!-- Fin de delete Modal-->
                                    {% else %}
                                      <span class="badge rounded-pill bg-success"> Recevable </span>
                                    {% endif %}
                                  {% else %}
                                    {% if a.status_paye == False %}
                                      <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ a.absence.id }}" title="Détail"><span id="status-decision{{ a.absence.id }}"><span class="badge rounded-pill bg-danger"> Non recevable </span></span></a>
                                      <!-- Start de delete Modal -->
                                      <div class="modal fade" id="deleteModal{{ a.absence.id }}" tabindex="-1">
                                          <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                              <div class="modal-header bg-warning">
                                                <h5 class="modal-title">Décision</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="card">
                                                  <div class="card-body">
                                                    <h3 class="card-title"><b>Motif : </b>{{ a.absence.motif }}</h3>
                                                    <p class="content-status-decision{{ a.absence.id }}">
                                                      <a href="#" data-id="{{ a.absence.id }}" data-status="1" data-enseignant="{{ a.absence.enseignant.id|crypter_id }}" class="btn btn-success btn-sm decision-absence-enseignant"> Redevable </a>
                                                    </p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div><!-- Fin de delete Modal-->
                                    {% else %}
                                      <span class="badge rounded-pill bg-danger"> Non recevable </span>
                                    {% endif %}
                                  {% endif %}
                                </td>
                                {% if anneeacademique.status_cloture %}
                                <td>
                                    <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ a.absence.id }}" title="Supprimer" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                    <a href="{% url 'edit_absence' a.absence.id|crypter_id %}" title="Modifier" class="btn btn-warning btn-sm"><i class="bi bi-pencil "></i></a>
                                    <!-- Start de delete Modal -->
                                    <div class="modal fade" id="deleteModal{{ a.absence.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Suppression</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="text-center">Voulez-vous vraiment supprimer cet enseignement ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              <a href="{% url 'del_absence' a.absence.id|crypter_id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div><!-- Fin de delete Modal-->
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}