{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Enseignements {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Enseignements</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'enseignements' %}">Salles</a></li>
          <li class="breadcrumb-item"><a href="{% url 'trim_enseignement' salle.id|crypter_id %}">Trimestres</a></li>
          <li class="breadcrumb-item active">Détails</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des enseignements</h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="{{ setting.theme }} {{ setting.text_color }}"  style="padding:10px; border-radius:10px">
                      <table class="table">
                        <tr>
                          <th>Salle </th>
                          <td>: {{ salle }}</td>
                        </tr>
                        <tr>
                          <th>Trimestre </th>
                          <td>: {{ trimestre }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <br>
                {% if anneeacademique.status_cloture %}
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'add_enseignement' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer un enseignement</a>
                    {% else %}
                    <a href="{% url 'add_enseignement' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer un enseignement</a>
                    {% endif %}
                </div>
                {% endif %}
                {% if messages %}
                  {% for message in messages %}
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Matière</th>
                                <th class="white-space">VolHoraire (h)</th>
                                <th class="white-space">Cout heure ({{ setting.devise }})</th>
                                <th>Enseignant</th>
                                <th>Evaluation</th>
                                <th>DécisionEval</th>
                                {% if anneeacademique.status_cloture %}
                                <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in enseignements %}
                            <tr>
                                <td class="white-space">{{ e.enseignement.matiere }}</td>
                                <td>{{ e.enseignement.volumehoraire }}</td>
                                <td class="text-danger">{{ e.enseignement.cout_heure }}</td>
                                <td class="white-space">{{ e.enseignement.enseignant.last_name|title}} {{ e.enseignement.enseignant.first_name|title}}</td>
                                {% if e.enseignement.eval %}
                                  {% if e.status == "En cours" %}
                                    <td><a href="{% url 'droit_eval' e.enseignement.id|crypter_id %}" class="btn btn-warning btn-sm">{{ e.status }}</a></td>
                                  {% else %}
                                    <td><a href="{% url 'droit_eval' e.enseignement.id|crypter_id %}" class="btn btn-success btn-sm">{{ e.status }}</a></td>
                                  {% endif %}
                                {% else %}
                                <td><a href="{% url 'droit_eval' e.enseignement.id|crypter_id %}" class="btn btn-secondary btn-sm">{{ e.status }}</a></td>
                                {% endif %}
                                {% if e.enseignement.eval %}
                                  {% if e.status == "Terminée" %}
                                    {% if e.moyenne == "Admis(e)" %}
                                      <td><span class="badge rounded-pill bg-success">{{ e.moyenne }}</span></td>
                                    {% elif e.moyenne == "Ajourné(e)" %}
                                      <td><span class="badge rounded-pill bg-danger">{{ e.moyenne }}</span></td>
                                    {% else %}
                                      <td><span class="badge rounded-pill bg-primary">{{ e.moyenne }}</span></td>
                                    {% endif %}
                                  {% else %}
                                  <td></td>
                                  {% endif %}
                                {% else %}
                                <td></td>
                                {% endif %}

                                {% if anneeacademique.status_cloture %}
                                <td>
                                    <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ e.enseignement.id }}" title="Supprimer" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                    <a href="{% url 'edit_enseignement' e.enseignement.id|crypter_id %}" title="Modifier" class="btn btn-warning btn-sm"><i class="bi bi-pencil "></i></a>
                                    <!-- Start de delete Modal -->
                                    <div class="modal fade" id="deleteModal{{ e.enseignement.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Suppression</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="text-center">Voulez-vous vraiment supprimer cet enseignement ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              <a href="{% url 'del_enseignement' e.enseignement.id|crypter_id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div><!-- Fin de delete Modal-->
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}