{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Edition d'un enseignement {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Enseignements</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'enseignements' %}" > Enseignements </a></li>
          <li class="breadcrumb-item"><a href="{% url 'detail_enseignement' enseignement.salle.id|crypter_id enseignement.trimestre %}" > Détails </a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edition d'un enseignement</h5>
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formUpdateEnseignement" class="row g-3">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-12 margin-bottom">
                        <input type="text" name="id" value="{{ enseignement.id }}" hidden="True" required="True">
                        <label for="salle" class="form-label">Salle : </label>
                        <select name="salle" id="salle" class="form-select" aria-label="Default select example">
                            <option value="{{ enseignement.salle.id}}">{{ enseignement.salle }}</option>
                            {% for salle in salles %}
                            <option value="{{ salle.id }}">{{ salle }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="matiereview">
                      <div class="col-12 margin-bottom">
                          <label for="Matiere" class="form-label">Matière : </label>
                          <select name="matiere" id="Matiere" class="form-select" aria-label="Default select example" required>
                              <option value="{{enseignement.matiere.id }}">{{ enseignement.matiere }}</option>
                              {% for matiere in matieres %}
                              <option value="{{ matiere.id }}">{{ matiere }}</option>
                              {% endfor %}
                          </select>
                      </div>
                    </div>

                    <div class="col-12 margin-bottom">
                      <label for="Trimestre" class="form-label">Trimestre : </label>
                      <select name="trimestre" id="Trimestre" class="form-select" aria-label="Default select example">
                          <option value="{{ enseignement.trimestre }}">{{ enseignement.trimestre }}</option>
                          {% for trimestre in trimestres %}
                          <option value="{{ trimestre }}">{{ trimestre }}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-12 margin-bottom">
                        <label for="Volumehoraire" class="form-label">Volume horaire : </label>
                        <input type="number" name="volumehoraire" value={{ enseignement.volumehoraire }} class="form-control" id="Volumehoraire" required>
                    </div>
                    <div class="col-12 margin-bottom">
                        <label for="Cout_heure" class="form-label">Cout heure : </label>
                        <input type="text" name="cout_heure" value={{ enseignement.cout_heure }} class="form-control" id="Cout_heure" required>
                    </div>
                    <div class="col-12 margin-bottom">
                        <label for="Enseignant" class="form-label">Enseignant : </label>
                        <select name="enseignant" id="Enseignant" class="form-select" aria-label="Default select example">
                            <option value="{{ enseignement.enseignant.id }}">{{ enseignement.enseignant.last_name }} {{ enseignement.enseignant.first_name }}</option>
                            {% for enseignant in enseignants %}
                            <option value="{{ enseignant.id }}">{{ enseignant.last_name|upper }} {{ enseignant.first_name|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'detail_enseignement' enseignement.salle.id|crypter_id enseignement.trimestre|crypter_id  %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                </div>
              </form><!-- Vertical Form -->

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}