{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Paiements {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Paiements</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'payments' %}">Salles paiements</a></li>
          <li class="breadcrumb-item"><a href="{% url 'students_payments' salle.id|crypter_id %}">Elèves</a></li>
          <li class="breadcrumb-item active">Paiements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des paiements</h5>
                <div class="row">
                  <div class="col-md-6">
                    <br>
                    <div class="{{ setting.theme }} {{ setting.text_color }}"  style="padding:10px; border-radius:10px">
                      <table class="table">
                        <tr>
                          <th>Salle </th><td> : {{ salle }}</td>
                        </tr>
                        <tr>
                          <th>Elève : </th><td> : {{ student }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <br>
                {% if anneeacademique.status_cloture %}
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'add_payment' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer un paiement</a>
                    {% else %}
                    <a href="{% url 'add_payment' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer un paiement</a>
                    {% endif %}
                </div>
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mois</th>
                                <th>Montant({{ setting.devise }})</th>
                                <th class="white-space">Mode paiement</th>
                                <th>Dates</th>
                                <th>Personnels</th>
                                <th>Réçu</th>
                                {% if anneeacademique.status_cloture %}
                                <th class="text-center">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ payment.id }}</td>
                                <td>{{ payment.month }}</td>
                                <td><span class="text-danger">{{ payment.amount }}</span></td>
                                <td class="white-space">{{ payment.mode_paiement }}</td>
                                <td class="white-space">{{ payment.datepaye|date:"y/m/Y" }}</td>
                                <td class="white-space">{{ payment.user.last_name|title }} {{ payment.user.first_name|title }}</td>
                                <td><a href="{% url 'recu_paye' payment.id|crypter_id %}" class="btn btn-dark btn-sm"><i class="bi bi-file-earmark-pdf"></i></a></td>
                                {% if anneeacademique.status_cloture %}
                                <td class="text-center">
                                    <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ payment.id }}" title="Supprimer" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                    <a href="{% url 'edit_payment' payment.id|crypter_id %}" title="Modifier" class="btn btn-warning btn-sm"><i class="bi bi-pencil "></i></a>
                                    <!-- Start de delete Modal -->
                                    <div class="modal fade" id="deleteModal{{ payment.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Suppression</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="text-center">Voulez-vous vraiment supprimer ce paiement ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              <a href="{% url 'del_payment' payment.id|crypter_id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div><!-- Fin de delete Modal-->
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>

                              <th colspan="2"><b>Dette({{ setting.devise }}) :</b></th>
                              <td class="text-danger"><b><span class="text-danger">{{ montant_restant }}</span></b></td>
                              <td colspan="3">
                                <a href="#"  data-bs-toggle="modal" data-bs-target="#detailModal" title="Plus d'info" class="btn btn-info btn-sm"><i class="bi bi-eye"></i> Détails</a>&nbsp;
                                <!-- Start de delete Modal -->
                                <div class="modal fade" id="detailModal" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                          <div class="modal-content">
                                            <div class="modal-header {{ setting.theme }} {{ setting.text_color }}">
                                              <h5 class="modal-title">Statut de paiements</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-center">Statut de paiement de <b>{{ student.lastname|title }} {{ student.firstname|title }}</b></h5>
                                                <br>
                                                <div class="card">
                                                    <div class="card-body">
                                                      <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mois</th>
                                                                    <th>Statut</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              {% for mp in months_payes %}
                                                                <tr>
                                                                  <td>{{ mp.month }}</td>
                                                                  {% if mp.status == "Impayé" %}
                                                                  <td><span class="badge rounded-pill bg-danger">{{ mp.status }}</sapn></td>
                                                                  {% elif mp.status == "Avance" %}
                                                                  <td><span class="badge rounded-pill bg-warning">{{ mp.status }}</sapn></td>
                                                                  {% elif mp.status == "Ne paye pas" %}
                                                                  <td><span class="badge rounded-pill bg-primary">{{ mp.status }}</sapn></td>
                                                                  {% else %}
                                                                  <td><span class="badge rounded-pill bg-success">{{ mp.status }}</sapn></td>
                                                                  {% endif %}
                                                                </tr>
                                                              {% endfor%}
                                                            </body>
                                                        </table>
                                                      </div> 
                                                      <div class="row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-10">
                                                            <div class="card">
                                                                <div class="card-body height_min_max_card">
                                                                  <h5 class="card-title text-center">Dette({{ setting.devise }})</h5>
                                                                  <h3 class="text-danger text-center">{{ montant_restant }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                      </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                            </div>
                                          </div>
                                        </div>
                                </div><!-- Fin de delete Modal-->
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}