<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ etablissement }}</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Salle</th>
                    <th class="white-space">Nombre elèves</th>
                    <th>Action</th>
                </tr>
                {% for s in salles %}
                <tr>
                    <td>{{ s.salle }}</td>
                    <td><span class="badge rounded-pill bg-secondary">{{ s.nombre_students }}</span></td>
                    <td><a href="#" class="btn btn-info btn-sm button-student" id="{{ s.salle.id }}"><i class="bi bi-eye"></i></a></td>
                </tr>
                {% endfor %} 
            </table>
        </div>
    </div>
</div>