{% if cycle.libelle == "Lycée" and trimestre == "Trimestre 3" %}
<div class="col-12 margin-bottom">
    <label for="remplacer_trimestre" class="form-label">Remplaçant du trimestre 3 : *</label>
    <select name="remplacer_trimestre" id="remplacer_trimestre" class="form-select" aria-label="Default select example" required>
        <option value="">-- Selectionnez --</option>
        <option value="Baccalauréat teste">Baccalauréat teste </option>
        <option value="Baccalauréat blanc">Baccalauréat blanc</option>
    </select>
</div>
{% endif %}
{% if cycle.libelle == "Collège" and trimestre == "Trimestre 3" %}
<div class="col-12 margin-bottom">
    <label for="remplacer_trimestre" class="form-label">Remplaçant du trimestre 3 : *</label>
    <select name="remplacer_trimestre" id="remplacer_trimestre" class="form-select" aria-label="Default select example" required>
        <option value="">-- Selectionnez --</option>
        <option value="Baccalauréat teste">BEPC teste </option>
        <option value="Baccalauréat blanc">BEPC blanc</option>
    </select>
</div>
{% endif %}
{% if cycle.libelle == "Primaire" and trimestre == "Trimestre 3" %}
<div class="col-12 margin-bottom">
    <label for="remplacer_trimestre" class="form-label">Remplaçant du trimestre 3 : *</label>
    <select name="remplacer_trimestre" id="remplacer_trimestre" class="form-select" aria-label="Default select example" required>
        <option value="">-- Selectionnez --</option>
        <option value="Baccalauréat teste">CEPE teste </option>
        <option value="Baccalauréat teste">CEPE blanc </option>
        <option value="Baccalauréat blanc">Concours</option>
    </select>
</div>
{% endif %}

{% if matieres %}
<div class="col-12 margin-bottom">
    <label for="matiere" class="form-label">Matière : *</label>
    <select name="matiere" id="matiere" class="form-select" aria-label="Default select example" required>
        <option value="">-- Selectionnez --</option>
        {% for matiere in matieres %}
            <option value="{{ matiere.id }}">{{ matiere }}</option>
        {% endfor %}
    </select>
</div>
{% else %}
<div class="col-12 margin-bottom">
    <label for="matiere" class="form-label">Matière : *</label>
    <select name="matiere" id="matiere" class="form-select" aria-label="Default select example" required>
        <option value="">Aucune donnée n'a été enregistrée</option>
    </select>
</div>
{% endif %}
