{% if trimestres %}
<div class="col-12 margin-bottom">
    <label for="Trimestre" class="form-label">Trimestre : </label>
    <select name="trimestre" id="Trimestre" class="form-select" aria-label="Default select example">
        <option value="">-- Selectionnez --</option>
        {% for trimestre in trimestres %}
        <option value="{{ trimestre }}">{{ trimestre }}</option>
        {% endfor %}
    </select>
  </div>
  {% else %}
  <div class="col-12 margin-bottom">
    <label for="trimestre" class="form-label">Trimestre : </label>
    <select name="trimestre" id="trimestre" class="form-select" aria-label="Default select example">
        <option value="">-- Aucune donnée n"a été enregistrée --</option>
    </select>
  </div>
  {% endif %}