{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Ajout d'une rénumeration {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Rénumerations</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'personnel_renum' %}" > Rénumerations </a></li>
          <li class="breadcrumb-item active">Ajout</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              {% if type_renumeration == "Administrateur scolaire" %}
              <h5 class="card-title">Enregistrer une rénumeration de l'administrateur {{ user.last_name|title }} {{ user.first_name|title }}</h5>
              {% endif %}
              {% if type_renumeration == "Enseignant du fondamental" %}
              <h5 class="card-title">Enregistrer une rénumeration de l'enseignant {{ user.last_name|title }} {{ user.first_name|title }}</h5>
              {% endif %}
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formRenumAdmin" class="row g-3">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-12">
                        <input type="text" name="user" value="{{ user.id }}" class="form-control" id="user" hidden>
                    </div>
                    <div class="col-12">
                        <input type="text" name="type_renumeration" value="{{ type_renumeration }}" class="form-control" id="type_renumeration" hidden>
                    </div>
                    <div class="col-12">
                        <label for="month" class="form-label">Mois : </label>
                        <input type="text" name="month" value="{{ month }}" class="form-control" id="month" readonly>
                    </div>
                    <div class="col-12">
                        <label for="amount" class="form-label">Montant : </label>
                        <input type="text" name="amount" value="{{ amount }}" class="form-control" id="amount" readonly>
                    </div>
                    <div class="col-12">
                      <label for="indemnite" class="form-label">Indemnité : </label>
                      <input type="text" name="indemnite" value="0,00" class="form-control" id="indemnite" required>
                    </div>
                    <div class="col-12">
                      <label for="mode_payment" class="form-label">Mode de paiement : </label>
                      <select name="mode_payment" id="mode_payment" class="form-select" aria-label="Default select example">
                          <option value="">-- Selectionnez --</option>
                          {% for mode_payment in mode_payments %}
                          <option value="{{ mode_payment }}">{{ mode_payment }}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="password" class="form-label">Entrer votre mot de passe : </label>
                      <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                  </div>
                </div>
                <br>
                <div>
                  <a href="{% url 'personnel_renum' %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                </div>
              </form><!-- Vertical Form -->

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}