{% extends template %}
{% block title %} {{ setting.appname }} | Changer le mot de passe {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tableau de bord</h1>
      <nav>
        <ol class="breadcrumb">
          {% if request.session.group_name == "Promoteur" or request.session.group_name == "Directeur Général" %}
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'user/profile_sup_admin' %}" >Profile</a></li>
          {% elif request.session.group_name == "Super user" or request.session.group_name == "Super admin" %}
          <li class="breadcrumb-item"><a href="{% url 'settings/db_supuser' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'user/profile_supuser' %}" >Profile</a></li>
          {% else %}
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'user/profile' %}" >Profile</a></li>
          {% endif %}
          <li class="breadcrumb-item active">Changer le mot de passe</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Modification du mot de passe</h5>
                <p class="text-center text-success" style="font-size: 50px;"><i class="bi bi-check-circle-fill"></i></p>
                <p class="text-center text-success"><b>Mot de passe modifié avec succès</b></p>
                <br>
                <p class="text-center"><a href="{% url 'user/profile' %}" class="btn btn-secondary btn-sm"><i class="bi bi-person"></i> Retour au profil </a></p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}