{% extends 'global/base_sup_admin.html' %}
{% block title %} {{ setting.appname }} | Suppression d'une salle {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Salles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'salles' %}" >Salles</a></li>
          <li class="breadcrumb-item active">Suppression</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Suppression de la salle</h5>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Classe</th>
                                <td>{{ salle.classe }}</td>
                            </tr>
                            <tr>
                                <th>Série</th>
                                <td>{{ salle.serie }}</td>
                            </tr>
                            <tr>
                                <th>Numéro</th>
                                <td>{{ salle.number }}</td>
                            </tr>
                            <tr>
                                <th>Frais mensuel</th>
                                <td>{{ salle.price }}{{ setting.devise }}</td>
                            </tr>
                            <tr>
                                <th>EffectifMaxElève</th>
                                <td>{{ salle.max_student }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% if nombre_total %}
                            <h5 class="card-title">La suppression de cette salle entrainera la suppession des éléments suivants :</h5>
                            <hr>
                            <ul>

                              {% if nombre.nombre_programmes %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_programmes }}</span> programmes</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_enseignements %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_enseignements }}</span> enseignements</li>
                              <hr>
                              {% endif %}
                              
                              {% if nombre.nombre_autorisation_payements_students %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_autorisation_payements_students }}</span> autorisations de paiements d'un(e) élève</li>
                              <hr>
                              {% endif %}
                              
                              {% if nombre.nombre_autorisation_payements_salles %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_autorisation_payements_salles }}</span> autorisations de paiements des élèves de cette salle</li>
                              <hr>
                              {% endif %}
                            
                              {% if nombre.nombre_payments %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_payments }}</span> paiements</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_absences_enseignants %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_absences_enseignants }}</span> absences des énseignants</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_emploitemps %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_emploitemps }}</span> emploi de temps</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_emargements %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_emargements }}</span> émargements des enseignants</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_inscriptions %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_inscriptions }}</span> inscriptions</li>
                              <hr>
                              {% endif %}
                              
                              {% if nombre.nombre_compositions %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_compositions }}</span> compositions</li>
                              <hr>
                              {% endif %}
                              
                              {% if nombre.nombre_deliberations %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_deliberations }}</span> délibérations</li>
                              <hr>
                              {% endif %}

                              {% if nombre.nombre_publications %}
                              <li><span class="badge rounded-pill bg-danger">{{ nombre.nombre_publications }}</span> publications</li>
                              <hr>
                              {% endif %}
                            </ul>
                            <p class="text-center">
                                <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ salle.id }}" title="Supprimer" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                <!-- Start de delete Modal -->
                                <div class="modal fade" id="deleteModal{{ salle.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Suppression</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="text-center">Voulez-vous vraiment supprimer cette salle ?</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              <a href="{% url 'del_salle' salle.id|crypter_id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Fin de delete Modal-->
                            </p>
                        {% else %}
                        <p><a href="{% url 'del_salle' salle.id|crypter_id %}" class="btn btn-danger btn-sm">Supprimer</a></p>
                        {% endif %}
                    </div>
                </div>

              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
        <div class="col-md-1"></div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}