{% extends 'global/base_sup_admin.html' %}
{% block title %} {{ setting.appname }} | Liste des salles {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Salles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item active">Salles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des salles</h5>
                {% if anneeacademique.status_cloture %}
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'add_salle' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer une salle</a>
                    {% else %}
                    <a href="{% url 'add_salle' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer une salle</a>
                    {% endif %}
                </div>
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                  <table class="table datatable">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Cycle</th>
                              <th>NombreClasses</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for s in salles %}
                          <tr>
                              <td>{{ s.cycle.id }}</td>
                              <td class="white-space">{{ s.cycle }}</td>
                              <td><span class="badge rounded-pill bg-secondary">{{ s.nombre_classes }}</span></td>
                              <td>
                                <a class="btn btn-info btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#detailModal{{ s.cycle.id }}" title="Détail"><i class="bi bi-eye"></i></a>
                                <!-- debut detail modal -->
                                <div class="modal fade" id="detailModal{{ s.cycle.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-info text-light">
                                                <h5 class="modal-title" id="exampleModalLabel"><b class="text-center"> Liste des classes </b></h5>
                                            </div>
                                            <div class="modal-body">
                                              <div class="card">
                                                <div class="card-body">
                                                  <br>
                                                  <h5><b>{{ s.cycle }}</b></h5>
                                                  <hr>
                                                  <div class="table-responsive">
                                                    <table class="table">
                                                      <thead>
                                                          <tr>
                                                              <th>Id</th>
                                                              <th>Nom</th>
                                                              <th>NombreSalles</th>
                                                              {% if anneeacademique.status_cloture %}
                                                              <th>Actions</th>
                                                              {% endif %}
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for c in s.classes %}
                                                        <tr>
                                                            <td>{{ c.classe.id }}</td>
                                                            <td>{{ c.classe.libelle }}</td>
                                                            <td><span class="badge rounded-pill bg-secondary">{{ c.nombre_salles }}</td>
                                                            {% if anneeacademique.status_cloture %}
                                                            <td style="width:5px; min-width:5px; max-width:5px; white-space: nowrap;">
                                                              <a href="{% url 'detail_salle' c.classe.id|crypter_id %}" title="Détail" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                    </table>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end modal detail -->
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
                <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}