{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Edition d'une publication {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Publications</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'publications' %}" > Salles </a></li>
          <li class="breadcrumb-item"><a href="{% url 'detail_publication' publication.salle.id|crypter_id %}" > Publications </a></li>
          <li class="breadcrumb-item active">Edition</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-6 col-lg-offset-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edition d'une publication</h5>
              {% if contrat.status_signature %}
                <!-- On inclut l'image de chargement -->
                {% include 'global/_loading.html' %}
                <!-- Vertical Form -->
                <form method="post" action="" id="formUpdatePublication" class="row g-3">
                  {% csrf_token %}
                  <input type="text" name="id" value="{{ publication.id }}" hidden="True" required="True">
                  <div class="col-12">
                      <label for="Salle" class="form-label">Salle : *</label>
                      <select name="salle" id="Salle" class="form-select" aria-label="Default select example">
                          <option value="{{ publication.salle.id }}">{{ publication.salle }} </option>
                          {% for salle in salles %}
                          <option value="{{ salle.id }}">{{ salle }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="col-12">
                      <label for="title" class="form-label">Titre : *</label>
                      <input type="text" name="title" value="{{ publication.title }}" class="form-control" id="Coefficient" required>
                  </div>
                  <div class="col-12">
                      <label for="file" class="form-label"> Fichier : </label>
                      <input type="file" name="file" class="form-control" id="Coefficient">
                      <p>Actuellement : {{ publication.file }}</p>
                  </div>
                  <div class="col-12">
                      <label for="comment" class="form-label">Commentaire : </label>
                      <textarea class="form-control" name="comment" id="comment" style="height: 50px;">{{ publication.comment }}</textarea>
                  </div>
              
                  <div class="text-center">
                      <a href="{% url 'detail_publication' publication.salle.id|crypter_id %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                      <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                  </div>
                </form><!-- Vertical Form -->
              {% else %}
              <div class="card">
                <div class="card-body">
                  <br>
                  <h4 class="text-center"><i class="bi bi-circle-fill text-warning"></i> Veuillez d'abord signé le contrat, s'il n'a pas encore été fait, avant d'enregistrer un programme. <a href="{% url 'contrat/contrats_user' %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i> Je signe le contrat</a></h4>
                </div>
              </div>
              {% endif %}
              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}