{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Détail {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Détail</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'user/admin' %}">Admin</a></li>
          <li class="breadcrumb-item active">Détail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if user.profile and user.profile.photo.url %}
              <img src="{{ user.profile.photo.url }}" alt="Profile" class="rounded-circle">
              {% else %}
              <img src="{% static 'assets/img/user.png' %}" alt="Profile" class="rounded-circle">
              {% endif %}
              <h2>{{ user.last_name|title }} {{ user.first_name|title }}</h2>
              <h3>{{ user.profile.profession }}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Aperçu</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editer le Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Détail du profil</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nom</div>
                    <div class="col-lg-9 col-md-8">{{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Prénom</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date de naissance</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.datenais|date:"d/m/Y" }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Sexe</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.gender }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Profession</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.profession }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Pays</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.country }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Adresse</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.address }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Téléphone</div>
                    <div class="col-lg-9 col-md-8">{{ user.profile.phone }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Rôles</div>
                    <div class="col-lg-9 col-md-8">
                      <ul>
                      {% for role in roles %}
                        <li>{{ role.group.name }}</li>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="post" action="" >
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Image du profile</label>
                      <div class="col-md-8 col-lg-9">
                        {% if user.profile and user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}" alt="Profil">
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                        {% else %}
                        <img src="{% static 'assets/img/user.png' %}" alt="Profile">
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Fast_name" class="col-md-4 col-lg-3 col-form-label">Nom *</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="last_name" type="text" class="form-control" id="Last_name" value="{{ user.last_name }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="First_name" class="col-md-4 col-lg-3 col-form-label">Prénom </label>
                      <div class="col-md-8 col-lg-9">
                        <input name="first_name" type="text" class="form-control" id="First_name" value="{{ user.first_name }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Datenais" class="col-md-4 col-lg-3 col-form-label">Date de naissance</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="datenais" type="date" class="form-control" id="Datenais" value="{{ user.profile.datenais|date:"Y-m-d" }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Gender" class="col-md-4 col-lg-3 col-form-label">Sexe * </label>
                        <div class="col-md-8 col-lg-9">
                          <select name = "gender" id="Gender" class="form-select" aria-label="Default select example" required>
                            {% if user.profile.gender == "Masculin" %}
                            <option value="Masculin">Masculin</option>
                            <option value="Feminin">Feminin</option>
                            {% else %}
                            <option value="Feminin">Feminin</option>
                            <option value="Masculin">Masculin</option>
                            {% endif %}
                          </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Pays * </label>
                        <div class="col-md-8 col-lg-9">
                          <select name = "country" id="Country" class="form-select" aria-label="Default select example" required>
                            <option value="user.profile.country">{{ user.profile.country }}</option>
                            {% for country in countries %}
                            <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value="{{ user.profile.address }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="{{ user.profile.phone }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="{{ user.email }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Profession" class="col-md-4 col-lg-3 col-form-label">Profession</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="profession" type="text" class="form-control" id="Profession" value="{{ user.profile.profession }}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Diplome" class="col-md-4 col-lg-3 col-form-label">Diplome</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="diplome" type="text" class="form-control" id="Diplome" value="{{ user.profile.diplome }}" required>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Metre à jour </button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}