{% extends 'global/base_supuser.html' %}
{% block title %} {{ setting.appname }} | Détail d'un promoteur {% endblock %}
{% block content %}
{% load static %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Promoteurs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/db_supuser' %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'user/promoteurs' %}">Promoteurs</a></li>
          <li class="breadcrumb-item active">Détails</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Détails</h5>
                <div class="row">
                    <div class="col-md-3">
                        <p>
                          {% if promoteur.profile.photo %}
                            <img src="{{ promoteur.profile.photo.url }}" class="img-responsive img-detail" />
                          {% else %}
                          <img class="img-responsive img-detail" src="{% static 'assets/img/user.png' %}">
                          {% endif %}
                        </p>
                    </div>
                    <div class="col-md-9">
                        <!-- Table with stripped rows -->
                            <table class="table">
                                <tr>
                                    <td>Nom : </td>
                                    <td>{{ promoteur.last_name|upper }}</td>
                                </tr>
                                <tr>
                                    <td>Prénom : </td>
                                    <td>{{ promoteur.first_name|title }}</td>
                                </tr>
                                <tr>
                                    <td>Date de naissance : </td>
                                    <td>{{ promoteur.profile.datenais|date:"d/m/Y" }}</td>
                                </tr>
                                <tr>
                                    <td>Sexe : </td>
                                    <td>{{ promoteur.profile.gender }}</td>
                                </tr>
                                <tr>
                                    <td>Adresse : </td>
                                    <td>{{ promoteur.profile.address }}</td>
                                </tr>
                                <tr>
                                    <td>Pays : </td>
                                    <td>{{ promoteur.profile.country }}</td>
                                </tr>
                                <tr>
                                  <td>Profession : </td>
                                  <td>{{ promoteur.profile.profession }}</td>
                                </tr>
                                <tr>
                                  <td>Etablissements</td>
                                  <td>
                                    <ul>
                                      {% for etablissement in etablissements %}
                                      <li>{{ etablissement }}</li>
                                      {% endfor %}
                                    </ul>
                                  </td>
                                </tr>
                            </table>
                        <!-- End Table with stripped rows -->
                    </div>
                    <br>
                    <div class="col-2">
                        <a href="{% url 'user/promoteurs' %}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i> Retour</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}