{% extends template %}
{% block title %} {{ setting.appname }} | Permission {% endblock %}
{% block content %}
{% load static %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tableau de bord</h1>
      <nav>
        <ol class="breadcrumb">
          {% if request.session.group_name == "Promoteur" %}
          <li class="breadcrumb-item"><a href="{% url 'settings/db' %}">Tableau de bord</a></li>
          {% else %}
          <li class="breadcrumb-item"><a href="{% url 'settings/db_supuser' %}">Tableau de bord</a></li>
          {% endif %}
          <li class="breadcrumb-item active">Permission</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Permission</h5>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.last_name|title }} {{ user.first_name|title }}</h5>
                        <br>
                        <!-- On inclut l'image de chargement -->
                        {% include 'global/_loading.html' %}
                        <!-- Vertical Form -->
                        <form method="post" action="" id="formPermission" class="row g-3">
                            {% csrf_token %}
                            <input type="text" name="id" id="user_id" value="{{ user.id }}" hidden>
                            <div id="content-permission">
                                <div class="row mb-5">
                                    <label class="col-sm-2 col-form-label">Actif</label>
                                    <div class="col-sm-10">
                                        {% if request.session.is_active %}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" name="actif" id="actif" checked>
                                            <label class="form-check-label" for="actif">Précise si l’utilisateur doit être considéré comme actif. Décochez ceci plutôt que de supprimer le compte.</label>
                                        </div>
                                        {% else %}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" name="actif" id="actif">
                                            <label class="form-check-label" for="actif">Précise si l’utilisateur doit être considéré comme actif. Décochez ceci plutôt que de supprimer le compte.</label>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-5">
                                  <label class="col-sm-2 col-form-label">Staff</label>
                                  <div class="col-sm-10">
                                      {% if request.session.is_staff %}
                                      <div class="form-check form-switch">
                                          <input class="form-check-input" type="checkbox" name="staff" id="staff" checked>
                                          <label class="form-check-label" for="staff">Précise si l’utilisateur peut se connecter à ce site d'administration.</label>
                                      </div>
                                      {% else %}
                                      <div class="form-check form-switch">
                                          <input class="form-check-input" type="checkbox" name="staff" id="staff">
                                          <label class="form-check-label" for="staff">Précise si l’utilisateur peut se connecter à ce site d'administration.</label>
                                      </div>
                                      {% endif %}
                                  </div>
                                </div>
                                {% if request.session.group_name == "Super user" or request.session.group_name == "Super admin" %}
                                <div class="row mb-5">
                                  <label class="col-sm-2 col-form-label">Super utilisateur</label>
                                  <div class="col-sm-10">
                                      {% if request.session.is_superuser %}
                                      <div class="form-check form-switch">
                                          <input class="form-check-input" type="checkbox" name="superuser" id="superuser" checked>
                                          <label class="form-check-label" for="superuser">Précise si l’utilisateur doit être considéré comme actif. Décochez ceci plutôt que de supprimer le compte.</label>
                                      </div>
                                      {% else %}
                                      <div class="form-check form-switch">
                                          <input class="form-check-input" type="checkbox" name="superuser" id="superuser">
                                          <label class="form-check-label" for="superuser">Précise si l’utilisateur doit être considéré comme actif. Décochez ceci plutôt que de supprimer le compte.</label>
                                      </div>
                                      {% endif %}
                                  </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="text-center">
                              {% if request.session.group_name == "Super user" or request.session.group_name == "Super admin" %}
                                <a href="{% url 'settings/db_supuser' %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                              {% else %}
                                <a href="{% url 'settings/db' %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                              {% endif %}
                              <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                            </div>
                        </form><!-- Vertical Form -->
                    </div>
                </div>

                <!-- Start message Modal -->
                <div class="modal fade" id="message" tabindex="-1">
                    <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="badge bg-dark">x</span>
                        </button>
                        </div>
                        <div class="modal-body" id="content-message"></div>
                    </div>
                    </div>
                </div><!-- End message Modal-->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}