{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Rénumeration des enseignants {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des rénumerations</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item active">Rénumerations</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des rénumerations des enseignants</h5>
                {% if anneeacademique.status_cloture %}
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'personnel_renum' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer une rénumeration</a>
                    {% else %}
                    <a href="{% url 'personnel_renum' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer une rénumeration</a>
                    {% endif %}
                </div>
                {% endif %}
                {% if messages %}
                  {% for message in messages %}
                  <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>NombreRénum</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in renumerations %}
                            <tr>
                                <td class="white-space">{{ r.user.last_name|title }}</td>
                                <td class="white-space">{{ r.user.first_name|title }}</td>
                                <td><span class="badge rounded-pill bg-secondary">{{ r.nb_renumerations }}</span></td>
                                <td>
                                    <a href="#"  data-bs-toggle="modal" data-bs-target="#detailModal{{ r.user.id }}" title="Plus d'info" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                                    <!-- Start de delete Modal -->
                                    <div class="modal fade" id="detailModal{{ r.user.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                                          <div class="modal-content">
                                            <div class="modal-header {{ setting.theme }} {{ setting.text_color }}">
                                              <h5 class="modal-title">Détail de rénumeration</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="card-title text-center"><b>{{ r.user.last_name|title }} {{ r.user.first_name|title }}</b></h5>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Mois</th>
                                                            <th>Montant({{ setting.devise }})</th>
                                                            <th>Indemnité({{ setting.devise }})</th>
                                                            <th>Total({{ setting.devise }})</th>
                                                            <th class="white-space">Mode paiement</th>
                                                            <th class="white-space">Type rénumération</th>
                                                            {% if anneeacademique.status_cloture %}
                                                            <th>Actions</th>
                                                            {% endif %}
                                                        </tr>
                                                        {% for renumeration in r.renumerations %}
                                                        <tr>
                                                            <td>{{ renumeration.month }}</td>
                                                            <td>{{ renumeration.amount }}</td>
                                                            <td>{{ renumeration.indemnite }}</td>
                                                            <td>{{ renumeration.total_amount }}</td>
                                                            <td>{{ renumeration.mode_payment }}</td>
                                                            <td class="white-space">{{ renumeration.type_renumeration }}</td>
                                                            {% if anneeacademique.status_cloture %}
                                                            <td class="white-space">
                                                                <a class="btn btn-danger btn-sm delete-renum" id="{{ renumeration.id }}"><i class="bi bi-trash"></i></a>
                                                                <a href="{% url 'edit_renum' renumeration.id|crypter_id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></a>
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor%}
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div><!-- Fin de delete Modal-->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->

                <!-- Start groupe Modal -->
                <div class="modal fade" id="content_delete" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                      <div class="modal-header bg-danger text-light">
                        <h5 class="modal-title">Suppression</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="badge bg-dark">x</span>
                        </button>
                      </div>
                      <div class="modal-body" id="content-delete-item"></div>
                    </div>
                  </div>
                </div><!-- End group Modal-->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}