{% if cycle.libelle == "Primaire" or cycle.libelle == "Prescolaire" %}
<!-- Table with stripped rows -->
<h5 class="card-title text-center">Totales des heures émargées des salles du cycle fondamental</h5>
<div class="table-responsive">
    <table class="table datatable">
        <thead>
            <tr>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Id</th>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Salle</th>
                <th class="{{ setting.theme }} {{ setting.text_color }} white-space">Retard total</th>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emargementEnseignant %}
            <tr>
                <td>{{ e.salle.id }}</td>
                <td>{{ e.salle }}</td>
                <td><span class="badge bg-warning">{{ e.total_time }}</span></td>
                <td>
                    <a href="#"  data-bs-toggle="modal" data-bs-target="#detailModal{{ e.salle.id }}" title="Détail" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                    <!-- Start de delete Modal -->
                    <div class="modal fade" id="detailModal{{ e.salle.id }}" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header {{ setting.theme }} {{ setting.text_color }}">
                              <h5 class="modal-title text-center"> {{ e.salle }} </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <p class="text-center">Retard total : <span class="badge bg-warning">{{ e.total_time }}</span></p>
                              <table class="table table-bordered">
                                <tr>
                                  <th>Enseignant</th>
                                  <th>Horaire</th>
                                  <th class="white-space">Heures à faire</th>
                                  <th class="white-space">Heures faite</th>
                                  <th>Retard total</th>
                                </tr>
                                {% for em in e.emargements %}
                                <tr>
                                  <td>{{ em.emargement.enseignant.last_name|title }}</td>
                                  <td class="white-space">{{ em.emargement.heure_debut }}-{{ em.emargement.heure_fin }}</td>
                                  <td>{{ em.heure_faire }}</td>
                                  <td>{{ em.heure_faite }}</td>
                                  <td><span class="badge bg-warning">{{ em.total_heure }}</span></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button></div>
                          </div>
                        </div>
                    </div><!-- Fin de delete Modal-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- End Table with stripped rows -->

{% else %}

<!-- Table with stripped rows -->
<h5 class="card-title text-center">Totales des heures émargées des salles du cycle secondaire</h5>
<div class="table-responsive">
    <table class="table datatable">
        <thead>
            <tr>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Id</th>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Salles</th>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Heure totale</th>
                <th class="{{ setting.theme }} {{ setting.text_color }}">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emargementEnseignant %}
            <tr>
                <td>{{ e.salle.id }}</td>
                <td>{{ e.salle }}</td>
                <td><span class="badge bg-warning">{{ e.total_time }}</span></td>
                <td>
                    <a href="#"  data-bs-toggle="modal" data-bs-target="#detailModal{{ e.salle.id }}" title="Détail" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                    <!-- Start de delete Modal -->
                    <div class="modal fade" id="detailModal{{ e.salle.id }}" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header {{ setting.theme }} {{ setting.text_color }}">
                              <h5 class="modal-title text-center"> {{ e.salle }} </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <p class="text-center">Heure totale : <span class="badge bg-warning">{{ e.total_time }}</span></p>
                              <table class="table table-bordered">
                                <tr>
                                  <th>Id</th>  
                                  <th>Matières</th>
                                  <th>HeureTotal</th>
                                </tr>
                                {% for m in e.matieres %}
                                <tr>
                                  <td>{{ m.matiere.id }}</td>
                                  <td>{{ m.matiere }}</td>
                                  <td><span class="badge bg-warning">{{ m.total_time_matiere }}</span></td>
                                </tr>
                                {% endfor %}
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button></div>
                          </div>
                        </div>
                    </div><!-- Fin de delete Modal-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- End Table with stripped rows -->
{% endif %}