{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Ajout d'un(e) élève {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Utilisateurs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item"><a href="{% url 'student/students' %}" >Elèves</a></li>
          <li class="breadcrumb-item active">Ajout</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Enregistrer un(e) élève</h5>
              {% if parents %}
              <!-- On inclut l'image de chargement -->
              {% include 'global/_loading.html' %}
              <!-- Vertical Form -->
              <form method="post" action="" id="formStudent" class="row g-3">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-12">
                            <label for="Parent" class="form-label">Parent : </label>
                            <select name = "parent" id="Parent" class="form-select" aria-label="Default select example" required>
                                <option value="">-- Selectionnez --</option>
                                {% for parent in parents %}
                                <option value="{{ parent.id }}">{{ parent.lastname }} {{ parent.firstname }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="Lastname" class="form-label">Nom : </label>
                            <input type="text" name="lastname" class="form-control" id="Lastname" required>
                        </div>
                        <div class="col-12">
                            <label for="Firstname" class="form-label">Prénom : </label>
                            <input type="text" name="firstname" class="form-control" id="Firstname" required>
                        </div>
                        <div class="col-12">
                            <label for="Datenais" class="form-label">Date de naissance : </label>
                            <input type="date" name="datenais" class="form-control" id="Datenais" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-12">
                            <label for="Gender" class="form-label">Sexe : </label>
                            <select name = "gender" id="Gender" class="form-select" aria-label="Default select example" required>
                                <option value="">-- Selectionnez --</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Feminin">Feminin</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="Address" class="form-label">Adresse : </label>
                            <input type="text" name="address" class="form-control" id="Address" required>
                        </div>
                        <div class="col-12">
                            <label for="Country" class="form-label">Pays : </label>
                            <select name = "country" id="Country" class="form-select" aria-label="Default select example" required>
                                <option value="">-- Selectionnez --</option>
                                {% for country in countries %}
                                <option value="{{ country }}">{{ country }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="Photo" class="form-label">Logo : </label>
                            <input type="file" name="photo" class="form-control" id="Photo">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'student/students' %}" class="btn btn-secondary btn-sm"><i class="bi bi-list"></i> Afficher </a>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-check-circle"></i> Valider </button>
                </div>
              </form><!-- Vertical Form -->
              {% else %}
              <div class="card">
                <div class="card-body">
                  <br>
                  <h4 class="text-center"><i class="bi bi-circle-fill text-warning"></i> Veuillez d'abord enregistrer un parent, s'il n'a pas encore été crée, avant d'enregistrer un(e) élève.</h4>
                </div>
              </div>
              {% endif %}
              <!-- Start message Modal -->
              <div class="modal fade" id="message" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i class="bi bi-info-circle"></i> Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="badge bg-dark">x</span>
                      </button>
                    </div>
                    <div class="modal-body" id="content-message"></div>
                  </div>
                </div>
              </div><!-- End message Modal-->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}