{% extends 'global/base.html' %}
{% block title %} {{ setting.appname }} | Elèves {% endblock %}
{% block content %}
{% load static %}
{% load crypto_filters %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Utilisateurs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'settings/dashboard' request.session.classe_id|crypter_id %}">Tableau de bord</a></li>
          <li class="breadcrumb-item active">Elèves</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des élèves</h5>
                <div align="right">
                    {% if setting.theme == "bg-default" %}
                    <a href="{% url 'student/add_student' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Enregistrer un(e) élève</a>
                    {% else %}
                    <a href="{% url 'student/add_student' %}" class="btn btn-default btn-sm {{ setting.theme }} {{ setting.text_color }}"><i class="bi bi-plus-circle"></i> Enregistrer un(e) élève</a>
                    {% endif %}
                </div>
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>DateNaissance</th>
                                <th>Sexe</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td>{{ student.lastname|upper }}</td>
                                <td>{{ student.firstname|title }}</td>
                                <td>{{ student.datenais|date:"d/m/Y" }}</td>
                                <th>{{student.gender }}</td>
                                <td>
                                    <a href="#"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ student.id }}" title="Supprimer" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                    <a href="{% url 'student/edit_student' student.id|crypter_id %}" title="Modifier" class="btn btn-warning btn-sm"><i class="bi bi-pencil "></i></a>
                                    <a href="{% url 'student/detail_student' student.id|crypter_id %}" title="Detail" class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
                                    <!-- Start de delete Modal -->
                                    <div class="modal fade" id="deleteModal{{student.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Suppression</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              {% if student.gender == "Masculin" %}
                                              <p class="text-center">Voulez-vous vraiment supprimer cet élève ?</p>
                                              {% else %}
                                              <p class="text-center">Voulez-vous vraiment supprimer cette élève ?</p>
                                              {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Fermer</button>
                                              <a href="{% url 'del_student' student.id|crypter_id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div><!-- Fin de delete Modal-->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}