{% if enseignants %}
<div class="col-12 margin-bottom">
    <label for="enseignant" class="form-label">Enseignant : *</label>
    <select name="enseignant" id="enseignant" class="form-select" aria-label="Default select example" required>
        <option value="">-- Selectionnez --</option>
        {% for enseignant in enseignants %}
            <option value="{{ enseignant.id }}">{{ enseignant.last_name|upper }} {{ enseignant.first_name|title }}</option>
        {% endfor %}
    </select>
</div>
{% else %}
<div class="col-12 margin-bottom">
    <label for="enseignant" class="form-label">Enseignant : *</label>
    <select name="enseignant" id="enseignant" class="form-select" aria-label="Default select example" required>
        <option value="">Aucune donnée n'a été enregistrée</option>
    </select>
</div>
{% endif %}